* {
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: #ddf2fb ;
}

.header {
  text-align: center;
  font-size: 64px;
}

.main {
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 24px;
  text-decoration: none;
}

.container {
  
}

a {
  display: block;
}

img {
  max-height: 300px;
  width: auto;
  margin-bottom: 20px;
}
.salsa {
  color: red;
}

.shake {
  color: green;
}

.steak {
  color: brown;
}